* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 50ms ease-in-out;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#score {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, 0%);

  font-family: sans-serif;
  font-size: 2rem;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  z-index: 100;
}

#game-board {
  position: relative;
  background-color: #ccc;
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(22, 1fr);
  grid-template-columns: repeat(22, 1fr);
}

.snake {
  background-color: hsl(200, 100%, 50%);
  border: 0.25vmin solid black;
}

.food {
  background-color: hsl(50, 100%, 50%);
  border: 0.25vmin solid black;
}
